@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, a, button, img, hr {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', 'Roboto';
  font-size: 16px;
  color: #424242;
}

button, a {
  border: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

*:focus {
  outline: none;
}

button {
  background-color: #fff;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
