$primary-blue: #1766eb;
$primary-black: #282826;

$secondary-cyan: #77c9d4;
$secondary-green: #57bc90;
$secondary-teal: #015249;
$secondary-black: #002924;

$disabled: #cccccc;
$gray: #eaeaea;
$gray-2: #c8c8c8c8;
$gray-3: #8e8e8e;
$gray-4: #f9f9f9;

$unselected-font-color: #acacac;
$checkbox-seleted: #f3f3f4;

$font-color: #585858;
$font-color-2: #424242;
$font-color-3: #151515;
$font-color-4: #aeaeae;
$font-color-5: #424242;

$background-gray: #f3f3f4;

$min-width: 1024px;

$round-px: 8px;


